@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Inter:wght@400;600;700&family=Patrick+Hand+SC&display=swap");

body {
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  opacity: 0;
  animation: 2s ease-out fade-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
